@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  color: #212121;
  justify-content: space-between;
  padding: 0 1rem;
  top: 0;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0%;
  z-index: 1;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 4rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 4rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
  text-transform: uppercase;
  color: #212121;
  font-weight: 300;
  font-size: 18px;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.footer-logo-text {
  color: #fff;
  font-size: 16px;
  margin-top: 24px;
  width: 40%;
}

.footer-link-menu {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.footer-logo-menu {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.social-media-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-media-container > a {
  width: 32px;
  height: 32px;
}

.footer-link-menu {
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  margin: 0 1rem 1rem 1rem;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

.excellence-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  margin: 0 1rem 1rem 1rem;
}

.excellence-container-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;
}

.excellence-container-1 > h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  font-family: 'Baskervville', serif;
  color: #212121;
  margin-bottom: 0;
}

.excellence-container-1 > p {
  font-size: 20px;
  line-height: 28px;
  color: #212121;
  font-weight: 400;
}

.excellence-buttons-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 700px) {

  .footer-logo-text {
    width: 75%;
  }

  .excellence-section {
    flex-direction: column-reverse;
  }

  .excellence-buttons-container {
    flex-direction: column;
    align-items: start;
  }

  .excellence-container-1 > h1 {
    font-size: 60px;
    line-height: 80px;
  }
}

.excellence-buttons-container > button {
  padding: 8px 10px;
  background-color: #212121;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.why-choose-us-section {
  background-color: #000000;
}

.homepage-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homepage-grid-item {
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.homepage-grid-item:nth-of-type(2n) {
  border-left: 1px solid #fff;
}

.why-choose-us-section > h3 {
  @apply italic;
  text-transform: uppercase;
  padding: 8px 24px;
  font-family: 500;
  color: #fff;
  font-size: 26px;
}

.homepage-grid-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  padding: 28px 24px;
}

.homepage-grid-body > h3 {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  line-height: 40px;
  text-align: left;
}

.homepage-grid-body > p {
  font-size: 400;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  text-align: left;
  width: 68%;
}

.homepage-grid-body-divider {
  color: white;
  height: 2px;
  border-color: white;
  width: 50px;
}

.policies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: #fff;
  box-shadow: 0px 15px 34px 0px #0000001a;
  padding: 24px 20px;
}

.policies-container > h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.policies-container > p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.policies-container > p:first-child {
  margin-bottom: 20px;
}

.policies-container-parent {
  padding: 32px;
  background: linear-gradient(179.91deg, #eef1ff 0.08%, #ffffff 81.89%);
}

.how-to-return-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.how-to-return-container > h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
}

.return-box {
  padding: 40px 20px;
  border: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  gap: 32px;
  width: -webkit-fill-available;
}

@media screen and (max-width: 700px) {
  .return-box {
    flex-direction: column;
  }
}

.return-box > h5 {
  font-weight: 200;
  color: #5c5c5c;
  font-size: 40px;
}

.return-box > .right-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.return-box > .right-box > h5 {
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  margin: 0;
}

.return-box > .right-box > p {
  font-weight: 400;
  color: #000000;
  font-size: 18px;
}

.policy-grid-body-divider {
  color: #000000;
  height: 2px;
  border-color: #000000;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 50px;
  text-align: center;
}

.right-box > p > ol > li {
  font-size: 18px;
}

.right-box > p > ol > li::marker {
  font-weight: 700;
}

.right-box > p > ol {
  list-style: decimal;
  padding-left: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
